/.sass-cache/
/.tmp/
/bower_components/
/build/
/dist/
/node_modules/
/releases/
/reports/
/venv/
/settings/dsn.txt
.ropeproject
.fontcustom-manifest.json

manifest.json
*.DS_Store
*.pot
*~
.*.swp
.*.pid

/.idea
*.mo

bundle.js
bundle.js.map
